<header class="w-full bg-white shadow-2xl shadow-gray-400 p-2 px-5">

  <div class="flex justify-between">
    <h3 class="text-center text-2xl font-bold">Hotel</h3>
    <button class="cursor-pointer underline">Logout</button>
  </div>

  <nav class="flex flex-row mt-2">
    <li class="list-none mx-2 hover:bg-gray-300">
      <a routerLink="/admin" [routerLinkActive]="'bg-gray-300'" class="p-2 cursor-pointer underline">Admin</a>
    </li>
    <li class="list-none mx-2 hover:bg-gray-300">
      <a routerLink="/book" [routerLinkActive]="'bg-gray-300'" class="p-2 cursor-pointer underline">Book</a>
    </li>
  </nav>

</header>

