@if ( loading) {
  <app-loading />
}
<div class="w-full bg-gray-200 p-2 overflow-x-auto">
  @for ( floor of data; track $index ) {
    <h2 class="text-center underline text-2xl font-bold text-gray-800 my-2"><i class="fa-solid fa-suitcase-rolling"></i> {{ floor.piso }}</h2>
    <div class="grid grid-cols-1 md:grid-cols-5 gap-2 bg-gray-400 p-3 rounded-md">
      @for ( room of floor.cuarto; track $index) {
        <div class="w-full p-1 rounded-lg shadow-md bg-green-50">
          <p class="bg-gray-700 rounded-md text-center font-bold text-white mb-2"><i class="fa-solid fa-door-open"></i>: {{ room.cuarto }}</p>
          <div class="grid grid-cols-2 my-1">
            <p class="text-center my-1"><i class="fa-solid fa-bed"></i>: <span class="font-bold">1</span></p>
            <p class="text-center my-1"><i class="fa-solid fa-toilet"></i> <span class="font-bold">1</span></p>
            <p class="text-center my-1"><i class="fa-solid fa-shower bg-green-200 py-1 px-2 rounded-md"></i></p>
            <p class="text-center my-1"><i class="fa-solid fa-person-swimming bg-green-200 py-1 px-2 rounded-md"></i></p>
          </div>
          <div class="grid grid-cols-3 gap-3">
            <button (click)="editFloor( room.id )" class="p-1 text-white rounded-lg bg-green-500 hover:bg-green-700"><i class="fa-regular fa-pen-to-square"></i></button> <!-- (click)="event( room.id )" -->
            <button class="p-1 text-white rounded-lg bg-yellow-500 hover:bg-yellow-700"><i class="fa-solid fa-hammer"></i></button>
            <button (click)="destroy( room.id )" class="p-1 text-white rounded-lg bg-red-500 hover:bg-red-700"><i class="fa-solid fa-eraser"></i></button>
          </div>
        </div>
      }
    </div>
  }
</div>

