@if ( loading ) {
  <app-loading />
}

<div class="p-5 max-h-[70vh] overflow-y-scroll">
  <full-calendar class="" [options]="calendarOptions"></full-calendar>
</div>

<!-- Main modal -->
<div class="" *ngIf="showModal">
  <div id="authentication-modal" tabindex="-1" aria-hidden="true" class="h-[100vh] w-[100wh] overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 bg-black bg-opacity-20 flex justify-center items-center md:inset-0 max-h-full m-auto">
    <div class="relative p-4 w-[full] md:w-1/4 max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    {{ operation }} book
                </h3>
                <button (click)="toggleModalAdd()" type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="authentication-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
                <form class="space-y-4" [formGroup]="formGroup" (submit)="handleSubmit()" >
                    <div>
                      <label for="guest" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Guest</label>
                      <select name="" id="" formControlName="huesped_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                        <option value="" selected disabled>--Choose guest--</option>
                        @for (item of guests; track $index) {
                          <option value="{{ item.id }}">{{ item.name}} {{ item.last_name }}</option>
                        }
                      </select>
                      <div class="text-center text-red-300 font-bold text-sm">
                        @if( formGroup.controls.huesped_id.touched && formGroup.controls.huesped_id.hasError( 'required' ) ) {
                          <p class="">Guest is required</p>
                        }
                      </div>
                    </div>
                    <div>
                      <label for="room" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Room</label>
                      <select name="" id="" formControlName="cuarto_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                        <option value="" selected disabled>--Choose room--</option>
                        @for (item of rooms; track $index) {
                          <option value="{{ item.id }}">{{ item.cuarto }}</option>
                        }
                      </select>
                      <div class="text-center text-red-300 font-bold text-sm">
                        @if( formGroup.controls.cuarto_id.touched && formGroup.controls.cuarto_id.hasError( 'required' ) ) {
                          <p class="">Guest is required</p>
                        }
                      </div>
                    </div>
                    <div>
                        <label for="in_day" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">In</label>
                        <input type="date" formControlName="in" name="in_day" id="in_day" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
                        <div class="text-center text-red-300 font-bold text-sm">
                          @if( formGroup.controls.in.touched && formGroup.controls.in.hasError( 'required' ) ) {
                            <p class="">In is required</p>
                          }
                        </div>
                    </div>
                    <div>
                      <label for="out_day" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Out</label>
                      <input type="date" formControlName="out" name="out_day" id="out_day" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
                      <div class="text-center text-red-300 font-bold text-sm">
                        @if( formGroup.controls.out.touched && formGroup.controls.out.hasError( 'required' ) ) {
                          <p class="">Out is required</p>
                        }
                      </div>
                  </div>
                    <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                      <i class="fa-solid fa-floppy-disk"></i> Save
                    </button>
                    @if( formGroup.value.id !== 0 ){
                      <button class="w-full p-2 rounded-md text-white bg-yellow-500 hover:bg-yellow-700" (click)="destroy()">
                        <i class="fa-solid fa-building-circle-xmark"></i> Cancel Book
                      </button>
                    }
                    <button class="w-full p-2 rounded-md text-white bg-red-500 hover:bg-red-700" (click)="toggleModalAdd()">
                      <i class="fa-solid fa-xmark"></i> Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>

